@model IEnumerable<string>
@{
    ViewBag.Title = "Ошибка";
}
<div class="alert alert-danger">
    @switch (Model.Count())
    {
        case 0:
            @: Неизвестная ошибка! Попробуйте еще раз!
            break;
        case 1:
            @Model.First();
            break;
        default:
            @: Ошибки:
            <ul>
                @foreach (string error in Model)
                {
                    <li>@error</li>
                }
            </ul>
            break;
    }
</div>
@Html.ActionLink("На главную", "Index", null, new { @class = "btn btn-default" })